{% extends "polls/index.html" %}
{% load i18n static %}
{% block title %}
    Detail - {{ site_title }}
{% endblock %}

{% block main %} 
    <main class="container d-flex h-100">   
        <div class="column">
            <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
                <h2>Questions</h2>
                <hr>
                {% for question in question.question_text %}
                    <div class="bi pe-none me-2" width="30" height="24">
                        <a herf="">{{ question.question_text }}</a>
                    </div>
                {% empty %}
                    <div class="bi pe-none me-2" width="30" height="24">
                        No questions to list.
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="column p-5 rounded">
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>{{ question.question_text }}</h1></legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                </fieldset>
                <input type="submit" value="Vote">
            </form>
        </div>
    </main>
{% endblock %}

