{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
    
    <!-- HEAD SECTION -->
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Polls index">
        <meta name="author" content="Thomas Kerley">
        <meta name="class" content="INF 601 - Fall 2022">
        <title>{% block title %} {{ site_title }} {% endblock %}</title>

        <!-- STYLE BLOCK SECTION -->
        <link rel="stylesheet" href="{% block stylesheet %}{% static 'polls/css/bootstrap.css' %}{% endblock %}">
        {% block extrastyle %}{% endblock %}
        {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    <!-- BODY SECTION -->
    <body class="{% block bodyclass %}contianer text-center text-bg-dark bg-dark{% endblock %}">
        
        <!-- NAV SECTION -->
        {% block nav_top %}
            {% include "polls/nav_top.html" %}
        {% endblock %}

        <!-- MAIN SECTION -->
        {% block main %}
            {% if latest_question_list %}
                {% include "polls/question_list.html" %}
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        {% endblock %}

        <!-- SCRIPT SECTION -->
        {% block scripts %}
        <script src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script>
        {% endblock %}
        {% block scripts_extra %}
        {% endblock %}

        <!-- FOOTER SECTION -->
        {% block footer %}
            {% include 'polls/footer.html' %}
        {% endblock %}
    </body>
</html>