{% load i18n %}
<header class="navbar navbar-expand-md navbar-secondary bg-secondary fixed top">
    <nav class="container-fluid bd-gutter">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'polls:index' %}">Polls</a>
                </li>
            </ul>
        </div>
    </nav>
</header>