<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hero Page">
        <meta name="author" content="Thomas Kerley">
        <meta name="class" content="INF 601 - Fall 2022">
        <title>Welcome</title>
    </head>
    <body>
        <nav class="nav background-primary">
            <a href="../index.html">home</a>
            <a href="../polls">polls</a>
            <a href="../admin">admin</a>

        </nav>
        <section class="flexbox">
            This is the django test project.
        </section>
    </body>
    <footer>
        <div>
            Contact: <a href="tkerley@fhsu.edu">tkerley@fhsu.edu</a>
        </div>
    </footer>
</html>